.idea/
*.pyc
*.csv
!test/core/expect-logs/*.csv
*.pyc
build/*
dist/*
src/fixate.egg-info/
.pytest_cache
.tox/
src/fixate/config/local_config.json
.coverage
coverage.xml
junit/*
htmlcov/*
docs/build/*
Pipfile
Pipfile.lock
venv/
*.log.*
*.log
venv
venv37
.vscode/
